h1 {color: red; text-align: center; font-size: 45px;}
H2 {font-style: italic; text-align: center; color: blue; font-size: 35px}
p  {font-family: sans-serif;}
ul {font-style: 30px; line-height: 30px;}
h3 {font-size: 25px; color: royalblue; text-underline-position: auto}



